// persnal color
$primaryColor: #969BCE;
$secondColor: #aaadcc;
$hoverColor: #a8aac4;

$backgroundColor: #f4f4f4;

// background color
$white: #eeeeee;
$hoverWhite: #d0d0d0;
$black: #242424;
$hoverBlack: #3c3c3c;
$grey: #c2c2c2;

